{% extends 'home.html' %}

{% block card_content %}


<script type="text/javascript">
  document.getElementById('nav-clubs-tab').classList.add('active');
</script>

<div class="card-body">
  <div>
      <h1>Clubs</h1>
      <table class="table">
        {% for club in clubs %}
          <tr>
            <td><a href="{% url 'show_club' club.id %}">{{ club.club_name }}</a></td>
            <td>{{ club.location }}</td>
          </tr>
        {% endfor %}
      </table>
      
        <div>
          <form action="{% url 'create_club' %}">
              <button  class="btn btn-dark me-md-2"> 
                  Create Club
              </button>
          </form>    
        </div>
    </div>


</div>


{% endblock %}