{% extends 'base.html' %}

{% block body %}
{% include 'partials/main-nav-bar.html' %}

<main class="page">




<div class="container-fluid nav-row" >
    <div class = "row justify-content-center "  >
        <div class="col-lg-8 col-md-10 col-sm-12 "  >
            <h2> <br></h2>
            <h2 class="title">My Dashboard</h2>
        </div>
    </div> 

    <div class = "row justify-content-center " >
        <div class="col-lg-8 col-md-10 col-sm-12"  >
            <div class="card " >
               

                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>

                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>

                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>

                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
                <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>

            </div>
        </div>
    </div>

    <div class = "row justify-content-center "  >
        <div class="col-lg-8 col-md-10 col-sm-12 "  >
            <h2> <br><br></h2>
        </div>
    </div> 
</div>


</main>
{% endblock %}