
{% extends 'base.html' %}
{% block body %}
    <h1>Promote and demote people</h1>
        <table class='table table-sm'>
          <tr>
              <th>Profile Picture</th>
              <th>Full Name</th>
              <th>Role</th>
              <th>Detail</th>
              <th>Promote/Demote</th>
          </tr>
          {% for officer in officers %}
          <tr>
            <td> <img src="{{ officer.user.mini_gravatar }}"> </td>
            <td> <p>{{ officer.user.get_full_name }}</p> </td>
            <td> <p>officer</p> </td>
            <td> 
                  <form action= "{% url 'show_user' officer.user.id %}">
                    <input type='submit' value= 'More details'/>
                  </form>
            </td>
            <td>
                  <form action= "{% url 'officer_promote' officer.id %}">
                    <input type='submit' value= 'promote'/>
                  </form>

                  <form action= "{% url 'officer_demote' officer.id %}">
                    <input type='submit' value= 'demote'/>
                  </form>
            </td>
          </tr>
          {% endfor %}

          {% for member in members %}
          <tr>
            <td>
              <img src="{{ member.user.mini_gravatar }}">
            </td>
            <td> <p>{{ member.user.get_full_name }}</p> </td>
            <td> <p>member</p> </td>
            <td> 
                  <form action= "{% url 'show_user' member.user.id %}">
                    <input type='submit' value= 'More details'/>
                  </form>
            </td>
            <td>
              <form action= "{% url 'member_promote' member.id %}">
                  <input type='submit' value= 'promote'/>
              </form>

              <form action= "{% url 'member_kick' member.id %}">
                  <input type='submit' value= 'demote'/>
              </form>
            </td>
          </tr>
          {% endfor %}

      </table>

{% endblock %}
