
{% extends 'home.html' %}

{% block card_content %}


<div class="card-body">
  <div class="container p-0">
    <div class="row m-0">

      {% include 'partials/side-bar.html' with tournament_id=tournament.id club=club %}

      <div id="membersListDiv" class="col p-0">
        <div id="membersList">
          {% if not on_matches %}
            {% include 'tournament_detail.html' with is_participant=is_participant tournament=tournament organiser=organiser is_organiser=is_organiser count_participants=count_participants %}
          {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
