{% extends 'home.html' %}
{% block card_content %}

<div class="card-body" >
    <div class="row m-3">

      {% if show_member %}
          {% include 'partials/side-bar.html' with club=club show_role=show_role show_member=show_member show_applicants=show_applicants %}
      {% endif %}

      <div id="membersListDiv" class="col p-0">
        <div id="membersList">
          {% include 'partials/club_profile.html' with number_of_members=number_of_members member_in_club=member_in_club owner_club=owner_club%}
        </div>
      </div>

    </div>
</div>



{% endblock %}
