<div class="container">
  <div class="row content">
    <div class="col-xs-12 col-lg-6 col-xl-4">
    </div>
    <div class="col-xs-12 col-lg-6 col-xl-8">
        <li><strong></strong> {{ club.club_name}}</li>
        <li><strong> Location </strong> {{ club.location}}</li>
        <li><strong> Bio </strong> {{ club.description}}</li>
        
        <div>
          {% include 'partials/applicants_as_table.html' with applicants=applicants %} 
        </div>       
        
      </div>
  </div>
</div>
