

{% extends 'base_content.html' %}
{% block content %}

{% include 'partials/simple-top-bar.html' %}
<div class="container">
  <div class="row">
    <div class="col-12">

    <h1>Sign up</h1>
      <form action = "{% url 'sign_up' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
      <input type="submit" value = "Apply for a club" class="btn btn-primary">
      <input type="submit" value = "Create an account" class="btn btn-primary">
    </div>
  </div>
</div>
{% endblock %}
