{% extends 'base.html' %}
{% block body %}


      {% if list_data|length > 0 %}
        <table class='table table-striped' id="my_clubs_table">
          <tr>
            <th scope="col">Club Name</th>
            <th scope="col">Members' count</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
          {% for data in list_data %}
            <tr>
              <th scope="row">{{data.0}} </th>
              <td>{{data.1}} </td>
              <td>{{data.2}} </td>
              <td>
                <form action= "{% url 'show_club' data.3 %}">
                  <input type='submit' value= 'View more'/>
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>

      {% else %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <h3 class="me-auto">You have not applied to any club</h3>
          <button class="btn btn-dark me-md-2" type="button">Apply now</button>
        </div>
      {% endif %}






{% endblock %}
