{% extends 'base.html' %}

 {% block body %}
 {% include 'partials/simple-top-bar.html' %}
 <div class="container vh-100">
    <div class = "row h-100">
      <div class="col-12 my-auto" >
        
          <div  class="d-flex justify-content-center">
            <h1>Welcome to the chess club</h1>
          </div>
          <div  class="d-flex justify-content-center">
            <p>
              <a href="{% url 'log_in' %}" class="btn btn-lg btn-secondary">
              Log in
              </a>
            </p>          
            
            <p>
              <a href="{% url 'sign_up' %}" class="btn btn-lg btn-secondary">
              Sign Up
              </a>
            </p>
          </div>
          
    </div>
  </div>
</div>
{% endblock %}
