

{% extends 'base_content.html' %}
{% block content %}

<div id="cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-8 my-auto">
        <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-5">
          <h1 class="cover-heading" >EmuGambit</h1>
           <p class="cover-text">The place for your own gambits.</p>
          <div class='row'>
            <div class="col">
               <form action= "{% url 'sign_up' %}">
                  <button type="submit" id="promote"> Sign up </button>
               </form> 
            </div>
            <div class="col">
           <form action= "{% url 'log_in' %}">
              <button type="submit" id="promote"> Log in </button>
           </form> 
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
