


<tr>

    <th scope="row">
        <img src="{{ applicant.user.mini_gravatar }}">
    </th>
    <td>
        <p>{{ applicant.user.get_full_name }}</p>
    </td>
    <td >
        <p>
            {{ applicant.user.bio }}
        </p>
    </td>
    <td>
        <a href="{% url 'show_user' applicant.user.id %}">More detail</a>
    </td>






    <td>
        <form onsubmit="return confirm('You are about to deny ' + '{{ applicant.user.get_full_name }}' +'\'s application!');;"
          action="{% url 'deny_applicant' applicant.id  %}">
            <input type="submit" class="btn btn-secondary"  value="Deny"></input>
        </form>
    </td>

   <td>
        <form onsubmit="return confirm('You are about to accept ' + '{{ applicant.user.get_full_name }}' +'\'s application!');;"
              action="{% url 'accept_applicant' applicant.id %}">
            <input type="submit" class="btn btn-secondary" value="Accept"></input>
        </form>

    </td>

</tr>
