<header class="py-5 bg-image-full" style="background-image: url('https://images.indianexpress.com/2020/05/chess-fb.jpg')">
  <div class="text-center my-5">
      <h1 class="text-white fs-3 fw-bolder">{{ club.club_name}}</h1>
  </div>
</header>

<div class="row content">
  <div class="col-12">
      <p class="profile-bio">{{ club.description}}</p>
      <p class="profile-statistics">
      <span>
      <b>{{ club.location}} </b> Location
      </span>
      </p>
      <span class = "float-end">
        {%if member_in_club == None %}
          <button class="btn btn-primary"> Apply </button>
          {% elif member == 3 %}
            <button class="btn btn-primary"> Leave </button>
          {% elif member == 4 %}
            <button class="btn btn-primary"> Resend </button>
        {% endif %}
      </span>
  </div>
</div>
