<div class="py-5 bg-image-full club_title_cover">
  <div class="text-center my-5">
      <h1 class=" fs-3 fw-bolder" style="color: #D7A786;">{{ club.club_name}}</h1>
  </div>
</div>

<div>
      <p class="profile-bio">
        {{ club.description}}
      </p>
      <p class="profile-statistics">
        <span>
        <b>{{ club.location}} </b> Location
        </span>
      </p>
      <div>
        <i class="bi bi-people-fill"></i>
        <p>current members: {{number_of_members}}</p>
      </div>
      <div>
        {% if member_in_club == None %}
            <form action= "{% url 'apply_to_club' club.id %}">
              <input type='submit' value= 'Apply'/>
            </form>
          {% elif member_in_club == 3 or member_in_club == 2 %}
            <form action= "{% url 'leave_a_club' club.id %}">
              <input type='submit' value= 'Leave'/>
            </form>
          {% elif member_in_club == 4 %}
            <form action= "{% url 'resend_application' club.id %}">
              <input type='submit' value= 'Resend'/>
            </form>
        {% endif %}
      </div>

</div>

