{% extends 'home.html' %}

{% block card_content %}

{% load static %}
<script type="text/javascript">
    document.getElementById('nav-dashboard-tab').classList.add('active');
</script>

<div class="card-body">
  <h3 class="card-title"> Hi, {{user.first_name}}</h3>

    <h2> <br></h2>

    <div class="row">
      <div class = "col-7" align-items-left>
        <h4>Events</h4>
        <div id="my_events"></div>
          </div>
          <div class = "col-5" align-items-center >
            <img src="{% static '/images/chess_board_small.svg' %}" alt="" id ="chess_board_small-logo">
          </div>
      </div>
    </div>

    <h2> <br></h2>
    <h2> <br></h2>

    {% comment %} <div class="input-group mb-3 "> {% endcomment %}
        {% comment %} <select class="custom-select w-50" id="inputGroupSelect02"> {% endcomment %}
          {% comment %} <option value="1">Club X</option> {% endcomment %}
          {% comment %} <option value="2">Club Y</option> {% endcomment %}
          {% comment %} <option value="3">Club Z</option> {% endcomment %}
        {% comment %} </select> {% endcomment %}
        {% comment %} <span class="badge rounded-pill bg-success">Member</span> {% endcomment %}
        {% comment %} <span class="badge rounded-pill bg-danger">Denied</span> {% endcomment %}
        {% comment %} <span class="badge rounded-pill bg-warning text-dark">Pending</span>   {% endcomment %}
    {% comment %} </div> {% endcomment %}


    <div id="my_clubs"></div>

   
    <script type="text/javascript">
        // event table

        http = new XMLHttpRequest();
        u="{% url 'events_list' %}";

        http.open("GET", u);
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('my_events').innerHTML ="<div>"+http.responseText+"</div>";
            }
        }
        http.send();
        
        // club table

        http2 = new XMLHttpRequest();
        u2="{% url 'table' %}";

        http2.open("GET", u2);
        http2.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('my_clubs').innerHTML ="<div>"+http2.responseText+"</div>";
            }
        }
        http2.send();
    </script>

</div>

{% endblock %}
