{% extends 'home.html' %}

{% block card_content %}

<script type="text/javascript">
    document.getElementById('nav-dashboard-tab').classList.add('active');
</script>

<div class="card-body">
    <h3 class="card-title"> Hi My Name,</h3>
    <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
    <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
    <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
    <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>

    <h2>Events</h2>
    <div id="my_events"></div>

    <h2> <br></h2>
    <h2> <br></h2>

    <div class="input-group mb-3 ">
        <select class="custom-select w-50" id="inputGroupSelect02">
          <option value="1">Club X</option>
          <option value="2">Club Y</option>
          <option value="3">Club Z</option>
        </select>
        <span class="badge rounded-pill bg-success">Member</span>
        <span class="badge rounded-pill bg-danger">Denied</span>
        <span class="badge rounded-pill bg-warning text-dark">Pending</span>  
    </div>


    <div id="my_clubs"></div>

   
    <script type="text/javascript">
        // event table

        http = new XMLHttpRequest();
        u="{% url 'events_list' %}";

        http.open("GET", u);
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('my_events').innerHTML ="<div>"+http.responseText+"</div>";
            }
        }
        http.send();
        
        // club table

        http2 = new XMLHttpRequest();
        u2="{% url 'table' %}";

        http2.open("GET", u2);
        http2.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('my_clubs').innerHTML ="<div>"+http2.responseText+"</div>";
            }
        }
        http2.send();
    </script>

</div>

{% endblock %}
