{% extends 'home.html' %}

{% block card_content %}

<script type="text/javascript">
    document.getElementById('nav-dashboard-tab').classList.add('active');
</script>

<div class="card-body">
    <h3 class="card-title"> Hi My Name,</h3>
    <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
    <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
    <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>
    <p>uhjxdhcnjdksnvjksdncfjkshdckhskdhkzshcdjkshjkzcjc</p>

    <h2> <br></h2>
    <h2> <br></h2>

    <div class="input-group mb-3 ">
        <select class="custom-select w-50" id="inputGroupSelect02">
          <option value="1">Club X</option>
          <option value="2">Club Y</option>
          <option value="3">Club Z</option>
        </select>
        <span class="badge rounded-pill bg-success">Member</span>
        <span class="badge rounded-pill bg-danger">Denied</span>
        <span class="badge rounded-pill bg-warning text-dark">Pending</span>  
    </div>


    <div id="my_clubs"></div>

   
    <script type="text/javascript">
            console.log("hai");

             http = new XMLHttpRequest();
             u="{% url 'table' %}";

            http.open("GET", u);
            http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('my_clubs').innerHTML ="<div>"+http.responseText+"</div>";
            }
        }
        http.send();
        
    </script>

<!-- 
<script type="text/javascript">
    console.log("hai");
   k= document.getElementById('my_clubs_table').innerHTML;
   if(k=="<tr> <th>Club Name</th><th>Members' count</th><th>Status</th></tr>")
   {
       document.getElementById('not_applied').removeAttribute("hidden");
       document.getElementById('my_clubs').setAttribute("hidden", false);
       console.log("nu data");
   }
   else{
       document.getElementById('my_clubs_table'.removeAttribute("hidden"));
       document.getElementById('not_applied').setAttribute("hidden", false);
       console.log("are data");
   }
 </script> -->



</div>

{% endblock %}
