{% if events|length > 0 %}
  <table class="table table-sm table-bordered" style="width: 100%; ">
    <tbody class="events-list">
      <tr>
        <th>Action</th>
        <th>Club</th>
        <th>Date</th>
      </tr>
        {% for event in events %}
        <tr style="background-color: {{ event.getActionColour }}">
          <td>{{ event.getActionString }}</td>
          <td>{{ event.club.club_name }}</td>
          <td>{{ event.date_created }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% else %}
  <h5>You haven't made any actions</h5>
{% endif %}
