{% load static %}


<nav class=" navbar sticky-top navbar-expand-lg navbar-dark nav-row ">
    <div class="container-fluid ">

        <a class="navbar-brand" href="{% url 'welcome' %}" id="nav-title">
            <img  src="{% static 'images/Logo.png' %}" alt="" id="nav-logo" >
           Chess Management System
         </a>
     


      
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}      
          <li class="nav-item dropdown ">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="bi-person-lines-fill">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'show_user' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'club_list' %}">Apply to club</a></li>
              <li><hr class="dropdown-divider"></li>
               <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
            </ul>
          </li>

          {% endif %}

        </ul>
      
    </div>
  </nav>
