{%load static%}
<div>
  {% if matches|length > 0 and match_round > 0 and max_rounds > 0 %}
    {% for round in rounds %}
      <h2>Round {{round}}</h2>
      {% if round <= match_round %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Player A</th>
              <th scope="col">Player B</th>
              <th scope="col">Status</th>
              {% if can_set_match %}
                <th scope="col">Set result</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for match, match_status_label in matches %}
              {% if match.match_round == round %}
                <tr>
                  <td>{{match.playerA.member.user.get_full_name}}</td>
                  <td>{{match.playerB.member.user.get_full_name}}</td>
                  <td>{{match_status_label}}</td>
                  <td>
                  {% if can_set_match and match.match_round == match_round and winner == None%}
                    <form action="{% url 'set_match_result' match.id %}">
                      <input type="submit" class="btn btn-secondary" value="Set">
                    </form>
                  {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h5 align-items-center>There are no current matches in round {{round}}</h5>
        <h5 align-items-center>Set results in {{round|add:"-1"}} to see the tournament final result</h5>
      {% endif %}
    {% endfor %}
    {% if match_round == max_rounds and winner != None %}
      <div class="d-flex justify-content-center mt-5 mb-4">
        <div>
          <img src="{% static '/images/winner.svg' %}" alt="" id ="winner-logo">
        </div>
        <div>
          <h3 class=" p-4">Winner is {{winner.member.user.get_full_name}}</h3>
        </div>
      </div>
    {% endif %}
  {% else %}
    {% if is_before_deadline %}
      <h5>Matches cannot be scheduled until after the deadline has passed to apply to the tournament</h5>
    {% elif can_set_match  %}
      <h5>There are no matches scheduled yet, you can do so by pressing this button</h5>
      <form onsubmit="return confirm('You are about to schedule the matches !');;" action="{% url 'initial_matches' tournament.id %}">
        <input type="submit" class="btn btn-secondary" value="Schedule Initial Matches">
      </form>
    {% else%}
      <h5>There are no matches scheduled yet.</h5>
    {% endif %}
  {% endif %}
</div>
