<div>
<table class="table table-striped">
  {% if members|length > 0 %}
    <thead>
        <tr>
            <th scope="col">Profile Picture</th>
            <th scope="col">Full Name</th>
            <th scope="col">Bio</th>
            {% if is_officer %}
            <th scope="col">More detail</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for user in members %}
            {% include "partials/member_as_table_row.html" with user=user is_officer=is_officer %}
        {% endfor %}
    </tbody>
  {% else %}
    <h5>There are no members in the club</h5>
  {% endif %}
</table>
</div>
