{% load static %}

<div>
  {% if members|length > 0 or officers|length > 0 %}
<div class="table-responsive" style="zoom:70%">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Profile Picture</th>
            <th scope="col">Full Name</th>
            <th scope="col">Role</th>
            <th scope="col">Detail</th>
            <th scope="col">Promote</th>
            <th scope="col">Demote</th>
        </tr>
    </thead>
    <tbody>

      {% for member in members %}
      <tr>
        <th scope="row">
          <img src="{{ member.user.mini_gravatar }}">
        </th>
        <td>
          <p>{{ member.user.get_full_name }}</p>
        </td>
        <td>
          <p>member</p>
        </td>
        <td>
          <a href="{% url 'show_user' member.user.id %}">More detail</a>
        </td>
        <td>
          <form onsubmit="return confirm('You are about to promote ' + '{{ member.user.get_full_name }}' +' to be an officer!');;" 
              action="{% url 'member_promote' member.id %}">
            <input type="submit" class="btn btn-secondary" value="Promote"> </input>
          </form>
        </td>
        <td>
          <form onsubmit="return confirm('You are about to kick out ' + '{{ member.user.get_full_name }}' +'!');;" 
              action="{% url 'member_kick' member.id %}">
            <input type="submit" class="btn btn-secondary" value="Kick"> </input>
          </form>
        </td>
      </tr>
      {% endfor %}


        {% for officer in officers %}
        <tr>
          <th scope="row">
            <img src="{{ officer.user.mini_gravatar }}">
          </th>
          <td>
            <p>{{ officer.user.get_full_name }}</p>
          </td>
          <td>
            <p>officer</p>
          </td>
          <td>
            <a href="{% url 'show_user' officer.user.id %}">More details</a>
          </td>
          <td>
          <form onsubmit="return confirm('You are about to promote ' + '{{ officer.user.get_full_name }}' +' to be the new owner of the club. You will lose your current owner rights and be demoted to an officer!');;"
                action="{% url 'officer_promote' officer.id %}">
                <input type="submit" class="btn btn-secondary" value="Promote"> </input>
          </form>
          </td>

          <td>
            <form onsubmit="return confirm('You are about to demote ' + '{{ officer.user.get_full_name }}' +' to a member!');;"
                action="{% url 'officer_demote' officer.id %}">
                <input type="submit" class="btn btn-secondary" value="Demote"> </input>
          </form>

          </td>
        </tr>
        {% endfor %}

  </tbody>
</table>
</div>
  {% else %}
      <h5 align-items-center>There are no users to promote or demote in the club</h5>
  {% endif %}

</div>
