

<div>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Detail</th>
            <th>Promote</th>
            <th>Demote</th>
        </tr>
    </thead>
    <tbody>

      {% for member in members %}
      <tr>
        <td>
          <img src="{{ member.user.mini_gravatar }}">
        </td>
        <td>
          <p>{{ member.user.get_full_name }}</p>
        </td>
        <td>
          <p>member</p>
        </td>
        <td>
          <a href="{% url 'show_user' member.user.id %}">More detail</a>
        </td>
        <td>
          <a href="{% url 'member_promote' member.id %}">
          <button type="button" id="promote"> promote </button>
          </a>
        </td>
        <td>
          <a href="{% url 'member_kick' member.id %}">
          <button type="button" id="demote"> demote </button>
          </a>
        </td>
      </tr>
      {% endfor %}


        {% for officer in officers %}
        <tr>
          <td>
            <img src="{{ officer.user.mini_gravatar }}">
          </td>
          <td>
            <p>{{ officer.user.get_full_name }}</p>
          </td>
          <td>
            <p>officer</p>
          </td>
          <td>
            <a href="{% url 'show_user' officer.user.id %}">More detail</a>
          </td>
          <td>
            <form href="{% url 'officer_promote' officer.id %}">
              <button type="button" id="promote"> promote </button>
            </form>
          </td>

          <td>
            <form href="{% url 'officer_demote' officer.id %}">
              <button type="button" id="demote"> demote </button>
            </form>

          </td>
        </tr>
        {% endfor %}

  </tbody>
</table>
</div>

