

<div>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Detail</th>
            <th>Promote</th>
            <th>Demote</th>
        </tr>
    </thead>
    <tbody>

      {% for member in members %}
      <tr>
        <td>
          <img src="{{ member.user.mini_gravatar }}">
        </td>
        <td>
          <p>{{ member.user.get_full_name }}</p>
        </td>
        <td>
          <p>member</p>
        </td>
        <td>
          <a href="{% url 'show_user' member.user.id %}">More detail</a>
        </td>
        <td>
          <form onsubmit="return confirm('You are about to promote ' + '{{ member.user.get_full_name }}' +' to be an officer!');;" 
              action="{% url 'member_promote' member.id %}">
            <input type="submit" class="btn btn-secondary" value="Promote"> </input>
          </form>
        </td>
        <td>
          <form onsubmit="return confirm('You are about to kick out ' + '{{ member.user.get_full_name }}' +'!');;" 
              action="{% url 'member_kick' member.id %}">
            <input type="submit" class="btn btn-secondary" value="Kick"> </input>
          </form>
        </td>
      </tr>
      {% endfor %}


        {% for officer in officers %}
        <tr>
          <td>
            <img src="{{ officer.user.mini_gravatar }}">
          </td>
          <td>
            <p>{{ officer.user.get_full_name }}</p>
          </td>
          <td>
            <p>officer</p>
          </td>
          <td>
            <a href="{% url 'show_user' officer.user.id %}">More detail</a>
          </td>
          <td>

          <form onsubmit="return confirm('You are about to promote ' + '{{ officer.user.get_full_name }}' +' to be the new owner of the club. You will lose your current owner rights and be demoted to an officer!');;"
                action="{% url 'officer_promote' officer.id %}">
                <input type="submit" class="btn btn-secondary" value="Promote"> </input>
          </form>
          </td>

          <td>
            <form onsubmit="return confirm('You are about to demote ' + '{{ officer.user.get_full_name }}' +' to a member!');;"
                action="{% url 'officer_demote' officer.id %}">
                <input type="submit" class="btn btn-secondary" value="Demote"> </input>
          </form>

          </td>
        </tr>
        {% endfor %}

  </tbody>
</table>
</div>
