{% load static %}

<script>


   function showClub(){
    const Http = new XMLHttpRequest();
    const url="{% url 'show_club' club.id %}";
    Http.open("GET", url);
    Http.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('membersList').innerHTML ="<div>"+Http.responseText+"</div>";
        }
    }
    Http.send();
  }

  function showMatches(){
    const Http = new XMLHttpRequest();
    const url="{% url 'matches' tournament_id %}";
    Http.open("GET", url);
    Http.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('membersList').innerHTML ="<div>"+Http.responseText+"</div>";
        }
    }
    Http.send();
  }


  function showMembers(){
    const Http = new XMLHttpRequest();
    const url="{% url 'show_members' club.id %}";
    Http.open("GET", url);

    Http.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('membersList').innerHTML ="<div>"+Http.responseText+"</div>";
        }
    }
    Http.send();
  }

  function showApplicants(){
    const Http = new XMLHttpRequest();
    const url="{% url 'show_applicants' club.id %}";
    Http.open("GET", url);
    Http.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('membersList').innerHTML ="<div>"+Http.responseText+"</div>";
        }
    }
    Http.send();
  }

  function showRoles(){
    const Http = new XMLHttpRequest();
    const url="{% url 'show_roles' club.id %}";
    Http.open("GET", url);
    Http.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('membersList').innerHTML ="<div>"+Http.responseText+"</div>";
        }
    }
    Http.send();
  }

  function showTournament(){
    const Http = new XMLHttpRequest();
    const url="{% url 'tournament_list' club.id %}";
    Http.open("GET", url);
    Http.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('membersList').innerHTML ="<div>"+Http.responseText+"</div>";
        }
    }
    Http.send();
  }

  function showParticipants(){
    const Http = new XMLHttpRequest();
    const url="{% url 'participant_list' tournament_id %}";
    Http.open("GET", url);
    Http.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('membersList').innerHTML ="<div>"+Http.responseText+"</div>";
        }
    }
    Http.send();
  }

</script>



<div id="sidebar">
  {% if show_matches or show_member %}
  <a id="theclub" href="{% url 'show_club' club.id %}">
    <i class="material-icons">home</i>Club
  </a>
  {% endif %}
  {% if show_matches %}
  <button id="matches" type="button" class="sidebarbutton" onclick="showMatches()">
  <i class="material-icons">emoji_events</i>matches
  </button>
  {% endif %}
  {% if show_participant %}
  <button id="participant" type="button" class="sidebarbutton" onclick="showParticipants()">
  <i class="material-icons">groups</i>Participants
  </button>
  {% endif %}
  {% if show_member and show_matches == False %}
   <button id="members" type="button" class="sidebarbutton" onclick="showMembers()">
  <i class="material-icons">accessibility_new</i>Members
  </button>
  <br>
  {% endif %}
  {% if show_applicants %}
  <button id="applications" type="button" class="sidebarbutton" onclick="showApplicants()">
  <i class="material-icons">sticky_note_2</i>Applications
  </button>
  <br>
  {% endif %}
  {% if show_role %}
  <button id="roles" type="button" class="sidebarbutton" onclick="showRoles()">
  <i class="material-icons">swap_vert</i>Roles
  </button>
  {% endif %}
  {% if show_member %}
  <button id="tournament" type="button" class="sidebarbutton" onclick="showTournament()">
  <i class="material-icons">content_paste</i>Tournaments
  </button>
  {% endif %}
</div>
