{% load static %}

<script>
   function loadContent(url){
    const Http = new XMLHttpRequest();
    Http.open("GET", url);
    Http.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById('membersList').innerHTML ="<div>"+Http.responseText+"</div>";
      }
    }
    Http.send();
  }
</script>

<div id="sidebar" >
  <a href="{% url 'show_club' club.id %}">
    <button id="theclub" type="button">
    <i class="material-icons">home</i>Club
    </button>
  </a>


  {% if show_member %}
    <button id="members" type="button" onclick="loadContent('{% url 'show_members' club.id %}')">
    <i class="material-icons">accessibility_new</i>Members
    </button>
    <br>
  {% endif %}
  {% if show_applicants %}
    <button id="applications" type="button" onclick="loadContent('{% url 'show_applicants' club.id %}')">
    <i class="material-icons">sticky_note_2</i>Applications
    </button>
    <br>
  {% endif %}
  {% if show_role %}
    <button id="roles" type="button" onclick="loadContent('{% url 'show_roles' club.id %}')">
    <i class="material-icons">swap_vert</i>Roles
    </button>
  {% endif %}
  {% if show_member %}
    <button id="tournaments" type="button" onclick="loadContent('{% url 'tournament_list' club.id %}')">
    <i class="material-icons">content_paste</i>Tournaments
    </button>
  {% endif %}


  {% if tournament_id %}
    <button id="matches" type="button" onclick="loadContent('{% url 'matches' tournament_id %}')">
    <i class="material-icons">emoji_events</i>Matches
    </button>
    <button id="participant" type="button" onclick="loadContent('{% url 'participant_list' tournament_id %}')">
    <i class="material-icons">groups</i>Participants
    </button>
    <a href="{% url 'show_tournament' tournament_id %}">
      <button id="tournament" type="button">
      <i class="material-icons">content_paste</i>Tournament
      </button>
    </a>
  {% endif %}

  {% if on_matches %}
  <script>
      document.getElementById("matches").click();
  </script>
  {% endif %}

</div>
