<div class="card border-secondary mb-3" style="max-width: 90rem;">
{% if tournaments|length > 0 %}
  {% for tournament in tournaments %}
    <div class="card-header"> {{tournament.name}}</div>
        <div class="card-body text-secondary">

          <p><b>Description:</b> {{tournament.description}}<p>
          <p><b>Deadline: </b>{{tournament.deadline}}<p>
          <p><b>Capacity:</b>{{tournament.capacity}}</p>
          <a href="{% url 'show_tournament' tournament.id %}">
            <button type="button"> More detail </button>
          </a>

        </div>
  {% endfor %}
  {% if is_officer %}
  <a href="{% url 'tournament' club.id %}">
    <button type="button"> Create tournament </button>
  </a>
  {% endif %}
{% else %}
    <h5 align-items-center>There are no current tournaments. </h5>
{% endif %}
</div>
